/* Police élégante */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body.accueil {
  background-image: url("images/accueil.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
